
<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>BeloArte</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="~/Content/logo.ico" type="image/x-icon" />
    <link href="/Content/Site.css" rel="stylesheet">
    <link href="~/node_modules/materialize-css/dist/css/materialize.css" rel="stylesheet">
    <script src="/Scripts/jquery-3.1.1.js"></script>
    <script src="/node_modules/materialize-css/dist/js/materialize.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <script>
        $(document).ready(function () {

            $('.slider').slider({

                height: 600
            });
        });
    </script>
<div class="navbar-fixed">
    <nav class="cyan darken-3">
        <div class="nav-wrapper">
            <a href="#/landingPage" class="brand-logo">BeloArte</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="http://localhost:15910/Home/Account#/singup">Cadastre-se</a></li>
                <li><a href="http://localhost:15910/Home/Account#/login">Entrar</a></li>
            </ul>
        </div>
    </nav>
</div>
    <div class="slider" >
        <ul class="slides">
            <li>
                <img src="~/Content/Images/LandPageImages/slideimg2.jpg">
                <div class="caption center-align">
                    <h3>Chega de prejuizo</h3>
                    <h5>Calcule corretamente o preço do seu produto</h5>
                </div>
            </li>
            <li>
                <img src="~/Content/Images/LandPageImages/slideimg1.jpg"> 
                <div class="caption right-align">
                    <h3>Controle financeiro</h3>
                    <h5 class="light grey-text text-lighten-3">Acompanhe seus gastos e descubra onde economizar</h5>
                </div>
            </li>
            <li>
                <img src="~/Content/Images/LandPageImages/slideimg3.jpg"> 
                <div class="caption right-align">
                    <h3>Orçamentos e Pedidos</h3>
                    <h5 class="light grey-text text-lighten-3">Seu cliente acompanha de forma rápida e transparente todo o processo de produção</h5>
                </div>
            </li>
            <li>
                <img src="~/Content/Images/LandPageImages/slideimg4.jpg"> 
                <div class="caption center-align">
                    <h3>Agenda</h3>
                    <h5 class="light grey-text text-lighten-3">Chega de atrasos e surpresas, organize seus copromissos e seja mais eficiente</h5>
                </div>
            </li>
        </ul>
    </div>

<div class="divider"></div>

<div class="row">

    <div class="col s12">
        <h5 class="caption center-align">Como o BeloArte pode transformar sua criatividade em sucesso</h5>
    </div>

</div>

<div class="row">
    <div class="col s12 l4">
        <div class="card-panel cyan darken-3">
          <span class="white-text"><h5>Chega de prejuízo</h5><br> O grande desafío de todo artesão é definir corretamente o preço de seu trabalho, Quanto estou gastando? Quanto devo cobrar? Se você também tem essas dúvidas o BeloArte pode te ajudar a tornar seu negócio mais rentável e lucrativo.
          </span>
        </div>
    </div>

        <div class="col s12 l4">
        <div class="card-panel cyan darken-3">
          <span class="white-text"><h5>Controle Financeiro</h5><br>Um grande erro de quem está começando um negócio próprio é não saber o quando realmente está gastando, se você tem gastos com aluguel, água, luz, impostos, vamos te ajudar a organizar suas despesas e fazer você economizar mais.
          </span>
        </div>
    </div>

    <div class="col s12 l4">
        <div class="card-panel cyan darken-3">
          <span class="white-text"><h5>Pedidos e Orçamentos</h5><br>Quando contratamos um profissional, temos aquela dúvida se o profissional é de confiança, se vai cumprir o prazo, com o BeloArte seu cliente pode acompanhar em tempo real o andamento do seu pedido, tornando todo o processo mais transparente e confiável
          </span>
        </div>
    </div>
</div>

<div class="divider"></div>

    <div class="row">
        <div class="col s12">
            <h5 class="caption center-align">Casos de Sucesso.</h5>
        </div>
    </div>

    <div class="row">
        <div class="col s12 l4">
          <div class="card medium">
            <div class="card-image">
              <img src="/Content/Images/LandPageImages/person1.jpg">
            </div>
            <div class="card-content">
              <p>"Em um momento de dificuldade financeira, O BeloArte me ajudou a trabalhar de forma mais eficiente, levando meus produtos a muito mais clientes".</p>
            </div>
            <div class="card-action">
              <a>Ricardo Andrade</a>
            </div>
          </div>
        </div>

        <div class="col s12 l4">
          <div class="card medium">
            <div class="card-image">
              <img src="/Content/Images/LandPageImages/person3.jpg">
            </div>
            <div class="card-content">
              <p>"Sempre quis informatizar o meu negócio, mas como sou leiga em informática, achei que nunca ia dar conta, mas o BeloArte é muito fácil e intuitivo de usar."</p>
            </div>
            <div class="card-action">
              <a >Maria do Rosário</a>
            </div>
          </div>
        </div>

        <div class="col s12 l4">
          <div class="card medium">
            <div class="card-image">
              <img src="/Content/Images/LandPageImages/person2.jpg">
            </div>
            <div class="card-content">
              <p>"Levava muito prejuizo, porque não sabia o quanto cobrar pelos meus produtos, com o BeloArte agora consigo cobrar um preço justo que me da lucro."</p>
            </div>
            <div class="card-action">
              <a href="#">Helen Ferreira</a>
            </div>
          </div>
        </div>
      </div>

        <footer class="page-footer cyan darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">BeloArte</h5>
                <p class="grey-text text-lighten-4"></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Redes Sociais</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagran</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Linkedin</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Todos os Direitos Reservados
            <a class="grey-text text-lighten-4 right" href="https://github.com/OdimTech">OdinTech Software</a>
            </div>
          </div>
        </footer>

</body>
</html>
