<form name="listClientForm" novalidate>

	<div class="ui stackable grid">
		<div class="ui sixteen wide stackable column">

			<div class="ui stackable borderless menu">

				<div class="header item">

					<h3 class="ui header">
						<i class="bordered bar chart icon"></i>
						<div class="content">
							Clientes
							<div class="inverted sub header">
								Lista de Clientes Cadastrados
							</div>
						</div>
					</h3>

				</div>

				<div class="right item">
					<a class="ui labeled primary icon button" href="#/newClient?id=0">
						<i class="edit icon"></i> Novo Cliente
					</a>
				</div>

			</div>
			<!--TOP MENU-->

			<div class="ui top attached tabular menu">
				<a class="item active" data-tab="fisica">Pessoa Física</a>
				<a class="item" data-tab="juridica">Pessoa Jurídica</a>
			</div>
			<div class="ui bottom attached tab raised segment active" data-tab="fisica" style="padding: 14px 0 0 0">

				<table datatable="ng" dt-options="dtOptions" class="ui striped collapsing selectable table" style="width:100%">
					<thead>
						<tr>
							<th>Código</th>
							<th>CPF</th>
							<th>Nome do Cliente</th>
							<th>Data de Aniversário</th>
							<th>Rua</th>
							<th>Número</th>
							<th>Bairro</th>
							<th>Cidade</th>
							<th>Estado</th>
							<th class="collapsing">Editar</th>
							<th class="collapsing">Excluir</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in clientsF">
							<td>{{item.codCliente}}</td>
							<td>{{item.cpf}}</td>
							<td>{{item.clientName}}</td>
							<td>{{item.birthday | date:'dd/MM/yyyy'}}</td>
							<td>{{item.address.logradouro}}</td>
							<td>{{item.address.numero}}</td>
							<td>{{item.address.bairro}}</td>
							<td>{{item.address.cidade}}</td>
							<td>{{item.address.estado}}</td>
							<td><button class="ui primary square icon button" ng-click="editClient(item.id)" title="Editar Cliente"><i class="ui edit icon"></i></button></td>
							<td><button class="ui red square icon button" ng-click="showModalRemoveClient(item)" title="Excluir Cliente"><i class="ui remove icon"></i></button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="ui bottom attached tab segment" data-tab="juridica" style="padding: 14px 0 0 0">
				<table datatable="ng" dt-options="dtOptions" class="ui striped padded selectable table" style="width:100%">
					<thead>
						<tr>
							<th>Código</th>
							<th>CNPJ</th>
							<th>Nome Fantasia</th>
							<th>Razão Social</th>
							<th>Rua</th>
							<th>Número</th>
							<th>Bairro</th>
							<th>Cidade</th>
							<th>Estado</th>
							<th class="collapsing">Editar</th>
							<th class="collapsing">Excluir</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in clientsJ">
							<td>{{item.codCliente}}</td>
							<td>{{item.cnpj}}</td>
							<td>{{item.fantasyName}}</td>
							<td>{{item.socialReasonName}}</td>
							<td>{{item.address.logradouro}}</td>
							<td>{{item.address.numero}}</td>
							<td>{{item.address.bairro}}</td>
							<td>{{item.address.cidade}}</td>
							<td>{{item.address.estado}}</td>
							<td><button class="ui primary square icon button" ng-click="editClient(item.id)"><i class="ui edit icon"></i></button></td>
							<td><button class="ui red square icon button" ng-click="showModalRemoveClient(item)"><i class="ui remove icon"></i></button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</form>

<!--MODALS-->
<div id="removeClientModal" class="ui basic modal">
	<div class="header">
		<h1>Excluir Cliente</h1>
	</div>
	<div class="image content">
		<div class="description">
			<h4>Deseja realmente excluir o(a) Cliente {{nameClient}}? Essa ação não poderá ser desfeita.</h4>
		</div>
	</div>
	<div class="actions">
		<button class="ui ok green button" ng-click="removeClientFromList()">
				<i class="checkmark icon"></i> Excluir
		</button>
		<button class="ui cancel red button">
				<i class="checkmark icon"></i> Cancelar
		</button>
	</div>
</div>