<div class="ui stackable grid">

    <div class="ui sixteen wide stackable column">

        <div class="ui stackable borderless menu">

            <div class="header item">

                <h3 class="ui header">
                    <i class="bordered diamond icon"></i>
                    <div class="content">
                        Produtos
                        <div class="inverted sub header">
                            Lista de Produtos Cadastrados
                        </div>
                    </div>
                </h3>

            </div>

            <div class="right item">
                <a class="ui labeled primary icon button" href="#/newProduct?id=0">
                    <i class="plus icon"></i>Novo Produto
                </a>
            </div>

        </div>

    </div>
    <!--TOP MENU-->

</div>