<div class="ui stackable grid">

    <div class="ui six wide centered column">
        <br>
        <br>
        <div class="ui stackable attached icon negative message">
            <i class="material-icons">sentiment_dissatisfied</i>
            <div class="header">
                Ops! Algo inesperado ocorreu...
            </div>
        </div>
        <div class="ui stackable attached fluid segment">
            <p>Clique <a href="#/initialDashboard">aqui</a> para ser redirecionado para o <a href="#/initialDashboard">Painel Inicial</a>.</p>
            <p>Caso ocorra novamente entre em contato com nossa equipe de suporte.</p>
        </div>
    </div>

</div>