

<div class="container">
    <div class="row">
        <div class="col s12">

        </div>
    </div>
</div>


<!--<div class="pusher">

    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui inverted header">
                Gerenciador de custos de fabricação, gerenciando seu pequeno negócio.
            </h1>
            <h2>
                Garanta a mensuração de custos para cada produto que gerar, sabendo o quanto realmente vale cada sua produção.
            </h2>
            <div class="ui huge primary button">Comece Agora!
                <i class="right arrow icon"></i>
            </div>
        </div>
    </div>


    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="six wide right floated column">
                    <img src="/app/views/assets/descripton.jpg" class="ui large bordered rounded image">
                </div>
                <div class="eight wide column">
                    <h2 class="ui header">Quem somos?</h2>
                    <p class="descripton">A beloArte te propõe até o controle e a gestão de dados ao sucesso do seu negócio.
                        <br>Percebemos que a necessidade da falta de atuação no mercado de trabalho informal, no ramo do
                        artesanato. Este estudo possui como objetivo geral o desenvolvimento de um sistema web direcionado
                        aos artesãos.
                        <br>Esse sistema irá possibilitar o controle de insumos, produtos fabricados, gestão de orçamentos,
                        logística de venda e relatórios gerenciais em geral.</p>
                </div>
            </div>
            <div class="row">
                <div class="right aligned column">
                    <a class="ui huge button">Veja mais!</a>
                </div>
            </div>
        </div>
    </div>

    <!-- COMENTARIOS DE USUARIOS -->
<!--<div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h3>"Acreditamos nos que amamos, e fazemos parte disso."</h3>
                    <p>
                        <img src="/app/views/assets/userJEEH.jpg" class="ui avatar image"> <b>Jessica Silva</b> Analista
                        e Coordenadora chefe do beloArte
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h3>"A praticidade e a leveza do beloArte, não só divulgou o meu produto, mas sim, meu sonho."</h3>
                    <p>
                        <img src="/app/views/assets/userJOSE.png" class="ui avatar image"> <b>Josué Rodrigues</b> Chefe da
                        federação mineira de artesões
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- RODAPÉ DA PAGINA 
    <footer>
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">Contato</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Mande uma mensagem</a>
                            <a href="#" class="item">Trabalhe conosco</a>
                            <a href="#" class="item">Sobre nós</a>
                        </div>
                    </div>

                    <div class="three wide column">
                        <h4 class="ui inverted header">Redes Sociais</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Facebook</a>
                            <a href="#" class="item">Youtube</a>
                            <a href="#" class="item">Instagram</a>
                            <a href="#" class="item">WhatsApp</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>-->