<div class="ui six wide centered column">
    <br>
    <br>
    <div class="ui stackable attached icon negative message">
        <i class="material-icons">sentiment_dissatisfied</i>
        <div class="header">
            A página solicitada não pôde ser encontrada...
        </div>
    </div>
    <div class="ui stackable attached fluid segment">
        <p>Utilize o Menu Lateral para navegar pelo Sistema.<a href="#/initialDashboard"> Painel Inicial</a></p>
        <p>Caso tenha alguma dúvida entre em contato com nossa equipe de suporte.</p>
    </div>
</div>