<div class="sixteen wide stackable column">
    <form class="ui form">
        <div class="ui tiny inverted attached stackable menu">
            <div class="item">
                <h4 class="ui inverted header">
                    <div class="content">
                        Painel de Orçamentos
                        <div class="inverted sub header">
                            Quadro de Acompanhamento
                        </div>
                    </div>
                </h4>
            </div>
            <a class="item">
                <i class="large edit icon"></i>
                Novo Orçamento
            </a>
            <a class="item">
                <i class="large bar chart icon"></i>
                Gráfico
            </a>
            <div class="right menu">
                <a class="icon item">
                    <i class="large inverted help icon"></i>
                </a>
            </div>
        </div>
        <div class="ui stackable segment">
            <div class="ui sixteen wide stackable grid">
                <div class="four wide column">
                    <div class="ui inverted blue segment">
                        <h3 class="ui inverted header">
                            <i class="massive inverted warning icon"></i>
                            <div class="content">
                                10 Solicitados
                                <div class="inverted sub header">
                                    Aguardando Atendimento
                                </div>
                            </div>
                        </h3>
                    </div>
                    <div class="ui blue stackable attached segment">
                        Orçamento 1
                    </div>
                    <div class="ui blue stackable attached segment">
                        Orçamento 2
                    </div>
                    <div class="ui blue stackable attached segment">
                        Orçamento 3
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui inverted yellow segment">
                        <h3 class="ui inverted header">
                            <i class="massive inverted help icon"></i>
                            <div class="content">
                                4 Pendentes
                                <div class="inverted sub header">
                                    Aguardando Aprovação do Cliente
                                </div>
                            </div>
                        </h3>
                    </div>
                    <div class="ui yellow stackable attached segment">
                        Orçamento 1
                    </div>
                    <div class="ui yellow stackable attached segment">
                        Orçamento 2
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui inverted red segment">
                        <h3 class="ui inverted header">
                            <i class="massive inverted close icon"></i>
                            <div class="content">
                                7 Negados
                                <div class="inverted sub header">
                                    Não Aprovados Pelo Cliente
                                </div>
                            </div>
                        </h3>
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui inverted green segment">
                        <h3 class="ui inverted header">
                            <i class="massive inverted check icon"></i>
                            <div class="content">
                                12 Aprovados
                                <div class="inverted sub header">
                                    Orçamentos que viraram Pedidos
                                </div>
                            </div>
                        </h3>
                    </div>
                </div>
                <div class="six wide column">

                </div>
            </div>
        </div>
    </form>
</div>